* {
    background-color: #222;
    color: white;
}

.matchHolder {
    display: flex;
    flex-wrap: wrap;
}

.match {
    border: 5px;
    border-color: orange;
    border-style: dotted;
    margin: 5px;
    padding: 5px;
    width: fit-content;
}

.ourMatch {
    border-color: yellow;
}



.collapsible {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}