<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Editor</title>
    <link rel="stylesheet" href="/static/style/main.css">
    <script src='/socket.io/socket.io.js'></script>
</head>

<body> 
    <table id="table" style="max-height: 200px; width: 85%; overflow-y: auto;">
        <tr id="rows" style="position: sticky; top: 0; background-color: white; z-index: 1;">
            <th>Team</th>
        </tr>
    </table>

    <script defer>
        const socket = io()
        const table = document.getElementById("table")
        const tableRows = document.getElementById("rows")

        let eventID = window.location.pathname.split("/")[2]
        let inputTypes = ["checkbox", "text", "number", "range"]

        socket.on("update", (data)=>{
            console.log(data)
            if (data?.eventID == eventID && data?.update) {
                for (let type in data.update) {
                    console.log(type, data.update[type])

                    let elm = document.getElementById(type)
                    if (elm.type == "checkbox") {
                        elm.checked = data.update[type]
                    } else {
                        elm.value = data.update[type]
                    }
                    console.log(elm, elm.checked, elm.value)

                }
            }
        })

        function update(event) {
            event.preventDefault()
            let elm = event.target
            // let teamID = elm.get
            console.log("update", elm.value, elm.checked, elm.getAttribute("teamid"), elm.nodeName)

            let toSend = {}
            toSend[elm.id] = elm.value

            if (elm.type == "checkbox") {
                toSend[elm.id] = elm.checked
            }

            console.log(toSend)

            socket.emit("update", {
                teamID: elm.getAttribute("teamid"),
                eventID: eventID,
                update: toSend
            })
        }

        fetch(`/api/event/teams/${eventID}`).then(async v => {
            let dataLayout = await (await fetch(`/api/event/${eventID}/layout`)).json()
            console.log("dataLayout", dataLayout)

            for (let name in dataLayout) {
                console.log(name)
                let th = document.createElement("th")
                th.innerText = name
                tableRows.append(th)
            }

            let data = await v.json()
            let ids = data.map(e => e.id)
            console.log(ids)
            let res = await fetch(`/api/team/data/${eventID}`, {
                body: JSON.stringify({ teamIDs: ids }),
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                }
            })

            let teamsData = await res.json()

            for (let teamID in teamsData) {
                console.log(teamsData[teamID])
                let teamData = teamsData[teamID] ?? {}

                let tr = document.createElement("tr")

                let th = document.createElement("th")
                th.innerHTML = `<a href="/event/${eventID}/team/${teamID}">${teamData?.teamNumber} (${teamID})</a>`
                tr.append(th)

                table.append(tr)
                let dataElms = {}

                for (let key in dataLayout) {
                    let th = document.createElement("th")
                    tr.append(th)
                    for (let elm of dataLayout[key]) {
                        
                        let inputName = document.createElement("lable")
                        inputName.innerText = `${elm.name}: `
                        th.append(inputName)

                        
                        let br = document.createElement("br")

                        if (inputTypes.includes(elm.type)) {
                            let input = document.createElement("input")
                            input.type = elm.type
                            input.id = `${key}-${elm.value}`
                            if (input.id in teamData) {
                                if (elm.type == "checkbox") {
                                    input.checked = teamData[input.id]
                                } else {
                                    input.value = teamData[input.id]
                                }
                            }
                            dataElms[input.id] = input
                            th.append(input, br)

                            input.setAttribute("teamID", teamID);
                            input.onchange = update
                        } else if (elm.type == "textbox") {
                            let input = document.createElement("textarea")
                            input.id = `${key}-${elm.value}`

                            dataElms[input.id] = input

                            if (input.id in teamData) {
                                input.value = teamData[input.id]
                            }

                            let br = document.createElement("br")
                            th.append(br, input)

                            input.setAttribute("teamID", teamID);
                            input.onchange = update
                        } else if (elm.type == "select") {
                            let input = document.createElement("select")
                            input.id = `${key}-${elm.value}`

                            for (let item of elm.values) {
                                let option = document.createElement("option")
                                option.value = `${key}-${elm.name}-${item.value}`
                                option.innerText = item.name

                                if (input.id in teamData) {
                                    if (teamData[input.id] == option.value) {
                                        option.selected = true
                                    }
                                }

                                input.append(option, br)
                            }
                            dataElms[input.id] = input

                            th.append(input)

                            input.setAttribute("teamID", teamID);
                            input.onchange = update
                        }


                        // keyDiv.append(inputDiv)
                    }
                }

            }
        })
    </script>
</body>

</html>