<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event - {{eventID}}</title>
    <link rel="stylesheet" href="/static/style/main.css">
</head>
<body>
    <h1>{{name}}</h1>

    <h2>Divisions</h2>
    {{{divHTML}}}
</body>
</html>