<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" href="/static/style/main.css">
</head>
<body>
    {{#each mainTeams}}
        <h1><a href="/team/{{this}}">{{this}}</a></h1>
    {{/each}}

    {{#each teams}}
        <p><a href="/team/{{this}}">{{this}}</a></p>
    {{/each}}
    
    <h1>(search page here)</h1>
</body>
</html>