<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thing</title>
    <link rel="stylesheet" href="/static/style/main.css">
</head>

<body>
    <label for="shift">Shift time:</label>
    <input type="number" id="shift">

    <h1 class="collapsible active">Our Matches:</h1>
    <div class="content">
        <div id="ourMatches" class="matchHolder"></div>
    </div>

    <hr>

    <h1 class="collapsible">All Matches:</h1>
    <div class="content">
        <div id="matches" class="matchHolder"></div>
    </div>

    <hr>

    <h1 class="collapsible">Teams:</h1>
    <div class="content">
        <div id="teams" class=""></div>
    </div>

    <script defer>
        const ourMatchesElm = document.getElementById("ourMatches")
        const matchesElm = document.getElementById("matches")
        const teamsElm = document.getElementById("teams")
        const shiftElm = document.getElementById("shift")

        const splitURL = window.location.pathname.split("/")
        const teamID = splitURL.pop()
        const divID = splitURL.pop()
        const eventID = splitURL.pop()

        async function m() {
            let matchResponse = await fetch(`/api/event/matches/${eventID}/${divID}`)
            let matchData = await matchResponse.json()
            matchData = matchData.sort((a, b) => new Date(a.scheduled ?? a.started) - new Date(b.scheduled ?? b.started))
            console.log(matchData)
            let addedTeams = []
            if (matchData.length == 0) {
                console.log("Event matches not out!")
                const warning = document.createElement("h1")
                warning.innerText = "It looks like the event hasn't pushed any macthes out yet! Has the event started?"
                matchesElm.appendChild(warning.cloneNode(true))
                ourMatchesElm.appendChild(warning.cloneNode(true))
            }
            for (let match of matchData) {
                let ourColor = null
                let teamInfo = []
                for (let alli of match.alliances) {
                    for (let team of alli.teams) {
                        // console.log(alli.color, team)
                        let teamNumber = team.team.name
                        if (teamNumber == "{{teamNumber}}") ourColor = alli.color
                        if (!addedTeams.includes(teamNumber)) {
                            addedTeams.push(teamNumber)
                            const h1 = document.createElement("h1")
                            h1.innerHTML = `<a href="/team/${eventID}/${team.team.id}" target="_blank">${teamNumber}</a>`
                            teamsElm.appendChild(h1)
                        }
                        teamInfo.push({ teamNumber: teamNumber, teamID: team.team.id, color: alli.color })
                    }
                }
                let start = new Date(match.scheduled ?? match.started)
                let currDate = new Date()
                let cMin = start.getMinutes()
                let toShift = Number(shiftElm.value)
                let totalShift = cMin + toShift

                start.setMinutes(totalShift)
                let milliUntillMatch = start.valueOf() - currDate.valueOf()

                console.log(match)
                console.log("Shifted", start.toLocaleTimeString(), currDate.toLocaleTimeString(), toShift, totalShift)
                let ourPeoples = teamInfo.filter((e) => e.color == ourColor)
                let notOurPeopels = teamInfo.filter((e) => e.color != ourColor)


                let blueHTML = ""
                let redHTML = ""

                for (let team of teamInfo) {
                    let html = ""
                    if (team.teamNumber == "{{teamNumber}}") {
                        html = `<a href="/team/${eventID}/${team.teamID}" style="color:yellow;" target="_blank">${team.teamNumber}</a> `
                    } else {
                        html += `<a href="/team/${eventID}/${team.teamID}" target="_blank">${team.teamNumber}</a> `
                    }
                    if (team.color == "blue") {
                        blueHTML += html
                    } else {
                        redHTML += html
                    }
                }

                let blueColor = "cyan"
                let redColor = "red"

                let colorHTML = ""
                switch (ourColor) {
                    case "blue": colorHTML = `<h2 style="color: ${blueColor};">We are blue</h2>`; break;
                    case "red": colorHTML = `<h2 style="color: ${redColor};">We are red</h2>`; break;
                }

                const html = `
                <h1>${match.name}</h1>
                ${colorHTML}
                <p>Time Until (Minutes): ${(milliUntillMatch / 1000) / 60}</p>
                <p>Start time: ${start.toLocaleTimeString()}</p>
                <p><a style="color:${blueColor};">Blue</a>: ${blueHTML}</p>
                <p><a style="color:${redColor};">Red</a>: ${redHTML}</p>
                `
                const divElm = document.createElement("div")
                divElm.innerHTML = html
                divElm.classList.add("match")
                if (ourColor) {
                    divElm.classList.add("ourMatch")
                    ourMatchesElm.append(divElm.cloneNode(true))
                }
                matchesElm.append(divElm.cloneNode(true))
            }
        
            if (addedTeams.length != 0) return
            let teamReponse = await fetch(`/api/event/teams/${eventID}`)
            let teamData = await teamReponse.json()
            console.log("teamData", teamData)
            let teamDataSorted = teamData.sort((a,b)=> a.number-b.number)
            for (let team of teamDataSorted) {
                console.log(team)
                const h1 = document.createElement("h1")
                h1.innerHTML = `<a href="/team/${eventID}/${team.id}" target="_blank">${team.number}</a>`
                teamsElm.appendChild(h1)
            }
        }
        m()
    </script>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
</body>

</html>